.admin-table {
    .admin-table-title {
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .admin-table-content {
        margin-left: 10px;
    }
}
